<!DOCTYPE html>
<html>
<head>
    <title>Hello User</title>
</head>
<body>
    <h1>Hello, user</h1>
    <h2> That page is only for testing APIs not used for the project and all APIs are not protected just for testing </h2>
    <h3> if you want to test any of API this is same examples</h3>
    <ol>
        <li><a href="http://braingameshub-production.up.railway.app/data/MediumLevel">GET and POST at tables</a></li>
        <li><a href="http://braingameshub-production.up.railway.app/generate_sudoku/9/40">Generate Sudoku</a></li>
        <li><a href="http://braingameshub-production.up.railway.app/generate_equation/medium/6/2">Generate Equation</a></li>
        <li><a href="http://braingameshub-production.up.railway.app/validate_answer">Validate Equation with Answer</a></li>
        <li><a href="http://braingameshub-production.up.railway.app/sudokuSolver">Get the Answer for Sudoku Problem</a></li>
    </ol>
</body>
</html>
